.header{
  position: fixed;
  top:0px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg,#EEA243 0%, rgba(255, 255, 0, 1) 60%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 0.3) 100%);
  color:black;
  .main{
    padding:5px;
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  .headerLinks{
    display:flex;
    height: 100%;
    margin-left: 20px;
    align-items: end;
    li{
      list-style: none;
      margin-right:10px;
    }
  }
  .donate{
    width: 100%;
    background: #80B918;
    background: #9C0D38;
    color: white;
    padding:1px 5px;
    .donateText{
      font-size:14px;
      .close{
        font-size:18px;
        font-weight: bold;
        margin-right:10px;
        cursor: pointer;
      }
   }
  }
}