.main{
  padding: 10px 5vw;
  border: 1px solid gray;
  transition: background .2s ease-in-out;
  .titleSection{
    display: flex;
    justify-content: space-between;
    .citationLink{
      margin-left:10px;
      align-self:end;
      font-size: 14px;
      font-style: italic;
    }
  }
  .date{
    color:gray;
    font-size: 10px;
    line-height: 12px;
  }
  .description{
    margin: 5px 0px;
  }
  &:not(:hover){
    background: white !important;
  }
}